body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.car {
    height: 450px;
    width: 350px;
    border-radius: 8px;
    border: solid thin gray;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
  
}

#newTask {
    margin-bottom: 10px;
}

#taskList {
    flex-grow: 1;
    background-color: rgb(232, 165, 128);
    margin: 10px;
    padding: 15px;
    overflow: scroll;
}

.task {
    padding: 5px;
    border: 1px solid black;
    margin-bottom: 5px;
}

.clearButton {
    width: 50%;
}